@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}
:root {
  --black: #000000;
  --dark: #303030;
  --white: #ffffff;
  --bg-hover: #999999;
  --button: rgba(1, 1, 1, 0.5);
  --footer-light: rgba(255, 255, 255, 0.75);
  --footer-dark: rgba(0, 0, 0, 0.75);
}
html {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  color: var(--white);
  background-color: var(--dark);
  /* background-image: url('../image/img/bg-1.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1110px;
}
.header {
  padding: 55px 0 177px 0;
}
.quote {
  display: flex;
  justify-content: space-between;
  width: 573px;
}
.quote__text {
  width: 540px;
  min-height: 125px;
  font-size: 18px;
  line-height: 28px;
}
.quote__description {
  margin: 0 0 13px 0;
  font-weight: 400;
}
.quote__author {
  margin: 0;
  font-weight: 700;
}
.quote__change-button {
  margin-top: 9px;
  width: 17px;
  height: 17px;
  background-image: url('../image/svg/change-button.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: all 0.3s;
}
.quote__change-button:hover {
  opacity: 1;
}
.main {
  padding: 56px 0 98px;
}
.greeting {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.greeting__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  /* background-image: url('../image/svg/sun.svg'); */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.greeting__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.time-block {
  display: flex;
  align-items: baseline;
}
.time {
  margin: 0;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}
.time-block__zone {
  margin: 0 0 0 11px;
  font-weight: 300;
  font-size: 40px;
  line-height: 28px;
  text-transform: uppercase;
}
.location {
  display: none;
  margin: 0 0 80px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.toggle-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 146px;
  padding: 8px 8px 8px 21px;
  border: none;
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--button);
  background-color: var(--white);
}
.toggle-button::after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dark);
  background-image: url('../image/svg/arrow.svg');
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease 0s;
}
.toggle-button._active::after {
  transform: rotate(-180deg);
}
.toggle-button:hover {
  cursor: pointer;
}
.toggle-button:hover.toggle-button::after {
  background-color: var(--bg-hover);
}
.footer {
  display: block;
  padding: 74px 0;
  background-color: var(--footer-light);
  color: var(--dark);
}
._hidden {
  display: none;
}
.row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* grid-template-rows: 2; */
  grid-row-gap: 42px;
  position: relative;
}
.row::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 40%;
  width: 242px;
  height: 1px;
  transform: rotate(90deg);
  background-color: var(--dark);
}
.row__title {
  margin: 0  0 9px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.row__text {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}

@media screen and ( max-width: 992px ) {
  .header {
    padding: 80px 0 235px 0;
  }
  .main {
    padding-top: 153px;
  }
  .greeting__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3.6px;
  }
  .time {
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -4.375px;
  }
  .time-block__zone {
    font-size: 32px;
    line-height: 28px;
  }
  .location {
    display: block;
  }
  .button-row {
    justify-content: flex-start;
  }
  .row::before {
    display: none;
  }
  .row__title {
    margin: 0;
    font-size: 13px;
    letter-spacing: 2.6px;
  }
  .row__text {
    font-size: 40px;
    line-height: 48px;
  }
}
@media screen and ( max-width: 760px ) {
  .header {
    padding: 32px 0 126px 0;
  }
  .main {
    padding-top: 100px;
  }
  .quote {
    width: 90%;
  }
  .quote__text {
    width: 90%;
  }
  .time {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2.5px;
  }
  .time-block__zone {
    font-size: 15px;
  }
  .location {
    margin: 16px 0 48px 0;
  }
  .toggle-button {
    padding: 3px 3px 3px 17px;
    width: 115px;
    border: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3.75px;
  }
  .toggle-button::after {
    content: '';
    margin-left: 13px;
    width: 32px;
    height: 32px;
  }
}
@media screen and ( max-width: 576px ) {
  .quote {
    width: 100%;
  }
  .quote__text {
    width: 90%;
    font-size: 12px;
    line-height: 22px;
  }
  .quote__description {
    margin: 0 0 8px 0;
  }
  .quote__change-button {
    margin-top: 0;
  }
  .greeting__hide {
    display: none;
  }
  .greeting__text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 3px;
  }
  .location {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .row {
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
  }
  .row__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .row__title {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .row__text {
    font-size: 20px;
    line-height: 24px;
  }
}