@import "normolize";
@import "fonts";
@import "variable";
@import "settings";
@import "templates/popup";

.header {
  padding: 48px 0;
}
.title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: $text-color-1;
  text-transform: lowercase;
}
.buttons__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 7px;
  width: 373px;
  border-radius: 31.5px;
  background-color: $bg-color-2;
}
.radio-button {
  display: none;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 48px;
  border: none;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: lowercase;
  background-color: transparent;
  color: $text-color-1;
  opacity: 0.4;
  transition: all 0.5s;
}
.label:hover {
  cursor: pointer;
  background-color: $color-1;
  opacity: 1;
  color: $bg-color-1;
}
input:checked+label.label {
  background-color: $color-1;
  opacity: 1;
  color: $bg-color-1;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 67px auto 85px;
  width: 366px;
  height: 366px;
  border-radius: 50%;
  background-color:  $bg-color-2;
  &::before {
    content: "";
    position: absolute;
    top: -22px;
    bottom: -22px;
    left: -22px;
    right: -22px;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    border-radius: 50%;
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    z-index: -1;
  }
}
.timer {
  position: relative;
  width: 366px;
  height: 366px;
  color: $text-color-1;
  &__svg {
    transform: scaleX(-1);
  }
  &__circle {
    fill: none;
    stroke: none;
  }
  &__path-elapsed {
    stroke-width: 3px;
    stroke: $bg-color-2;
  }
  &__path-remaining {
    stroke-width: 3px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: $color-1;
    // stroke: currentColor;
  }
  &__body {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background-color:  transparent;
    color: $text-color-1;
    z-index: 2;
  }
  &__counter {
    margin: 35px 0 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 124px;
    letter-spacing: -5px;
  }
  &__button {
    padding: 5px 5px 5px 15px;
    border: none;
    background-color: transparent;
    color: $text-color-1;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 15px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.4;
    }
  }
}
.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
  &__button {
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    background-image: url('../img/icon/settings.svg');
    background-repeat: no-repeat;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      filter: opacity(40%);
    }
  }
}
@media screen and ( max-width: 760px ) {
  .header {
    padding: 32px 0 45px;
  }
  .title {
    font-size: 24px;
    line-height: 30px;
  }
  .buttons__block {
    width: 90%;
    max-width: 327px;
  }
  .wrapper {
    margin: 67px auto 85px;
    width: 300px;
    height: 300px;
    &::before {
      top: -16px;
      bottom: -16px;
      left: -16px;
      right: -16px;
    }
  }
  .timer {
    width: 300px;
    height: 300px;
    &__body {
      width: 300px;
      height: 300px;
    }
    &__counter {
      margin: 30px 0 0;
      font-size: 80px;
      line-height: 99px;
      text-align: center;
      letter-spacing: -4px;
    }
    &__button {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 13.125px;
    }
  }
  .footer {
    padding-bottom: 48px;
  }
}
