@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}
:root {
  --black: #000000;
  --dark: #E3E4F1;
  --todo-dark: #E3E4F1;
  --white: #ffffff;
  --text-dark: #9495A5;
  --todo-task: #494C6B;
  --todo-task-c: #D1D2DA;
  --gradient: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}
html {
  font-family: 'Josefin Sans', sans-serif;
}
body {
  margin: 0;
  color: var(--white);
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 540px;
}
.header {
  padding: 70px 0 190px;
  background-image: url(../img/day.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-dark {
  background-image: url(../img/night.jpg);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #ffffff;
  text-transform: uppercase;
}
.toggle-button {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  background-image: url(../img/svg/moon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.toggle-button-dark {
  background-image: url(../img/svg/sun.svg);
}
.toggle-button:hover {
  cursor: pointer;
}
.todo {
  margin-top: -142px;
  margin-bottom: 24px;
  width: 100%;
}
.todo__input {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 20px 24px;
  border-radius: 5px;
  background-color: var(--white);
}
input[type="checkbox"] {
  display: none;
}
.todo__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.todo__checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--todo-dark);
  border-radius: 50%;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.todo__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
}
.todo__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--todo-dark);
  border-radius: 50%;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.todo__checkbox:hover + label::before  {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
  top: 1px;
  left: 1px;
  margin-right: 26px;
  margin-bottom: 2px;
  border-color: transparent;
  background-color: var(--white);
  z-index: 3;
}
.todo__checkbox:hover + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 24px;
  background-image: var(--gradient);
  z-index: 2;
}
.done .todo__checkbox + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 24px;
  background-image: var(--gradient);
  z-index: 2;
}
.done .todo__checkbox + label::before {
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
  top: 1px;
  left: 1px;
  margin-right: 26px;
  margin-bottom: 2px;
  border: none;
  border-color: transparent;
  background-image: url("../img/svg/oval.svg");
  z-index: 3;
}
.todo__text {
  flex-grow: 1;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: var(--text-dark);
  background-color: var(--white);
}
.todo__items {
  margin: 0;
  padding-inline-start: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  background-color: var(--white);
}
.todo__item {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 1px solid var(--todo-dark);
  transition: all 0.3s;
}
.todo__item:hover {
  cursor: pointer;
}
.done .todo__task {
  text-decoration: line-through;
  color: var(--todo-task-c);
}
.todo__task {
  flex-grow: 1;
  max-width: 420px;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: var(--todo-task);
}
.delete__todo {
  opacity: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-image: url('../img/svg/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;
  transition: opacity 0.5s ease;
}
.delete__todo:hover {
  cursor: pointer;
}
.todo__item:hover .delete__todo {
  opacity: 1;
}
.todo__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--white);
  color: var(--text-dark);
}
.small-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
}
.buttons__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 166px;
}
.radio-button {
  display: none;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  transition: all 0.3s;
}
.label:hover {
  cursor: pointer;
  color: var(--todo-task);
}
input:checked+label.label {
  color: #3A7CFD;
}
.clear__button {
  padding: 0;
  border: none;
  color: var(--text-dark);
  background-color: transparent;
}
.clear__button:hover {
  cursor: pointer;
  color: var(--todo-task);
}
.empty-state {
  display: none;
  align-items: center;
  padding: 20px 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--white);
  border-bottom: 1px solid var(--dark);
  color: var(--todo-task);
}
.checklist-icon {
  margin-right: 24px;
}
.empty-state__title {
  margin: 0 0 10px 0;
  flex-grow: 1;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.25px;
}
.empty-state__description {
  margin: 0;
  flex-grow: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
}
.todo__items:empty {
  display: none;
}
.todo__items:empty + .empty-state {
  display: flex;
}
.hidden {
  display: none;
}
.footer {
  padding: 50px 0;
}
.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.194444px;
  color: var(--text-dark);
}
@media screen and ( max-width: 576px ) {
  .header {
    padding: 48px 0 132px;
  }
  .title {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 10px;
  }
  .toggle-button {
    width: 20px;
    height: 20px;
  }
  .todo {
    margin-top: -92px;
    margin-bottom: 0;
  }
  .todo__input {
    margin-bottom: 16px;
    padding: 14px 20px;
  }
  .todo__item {
    padding: 14px 20px;
  }
  .todo__text {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
  }
  .todo__task {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
  }
  .delete__todo {
    opacity: 1;
    width: 12px;
    height: 12px;
  }
  .todo__checkbox {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  .todo__checkbox + label::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  .todo__checkbox:hover + label::before  {
    width: 18px;
    height: 18px;
    top: 1px;
    left: 1px;
    margin-right: 14px;
  }
  .todo__checkbox:hover + label::after {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  .done .todo__checkbox + label::after {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  .done .todo__checkbox + label::before {
    width: 18px;
    height: 18px;
    top: 1px;
    left: 1px;
    margin-right: 14px;
  }
  .small-text {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
  }
  .todo__info {
    position: relative;
  }
  .buttons__block {
    position: absolute;
    top: 50px;
    left: 0;
    margin: 16px 0 40px;
    padding: 15px 0 19px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--white);
  }
  .label {
    padding: 0 9px;
  }
  .footer {
    margin-top: 104px;
    padding: 0 0 72px;
  }
}