$dark-text: #111517;
:root {
  --dark-text: #111517;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
input {
  padding: 0;
}
.v-container {
  width: 95%;
  max-width: 1280px;
  margin: auto;
}
.text-hidden {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}