.explore {
  position: relative;
  padding: 90px 0 140px;
  background-color: $primary;
  overflow: hidden;
  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__image {
    &-wrap {
      margin-top: 0;
      width: 45%;
      max-width: 600px;
    }
  }
  &__content {
    position: relative;
    margin-top: 30px;
    width: 50%;
    max-width: 557px;
    z-index: 2;
  }
  &__text {
    margin-bottom: 50px;
  }
}
@media screen and ( max-width: 760px ) {
  .explore {
    padding: 50px 0;
    &__row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }
    &__image {
      &-wrap {
        display: block;
        margin: 0 auto;
        width: 95%;
        max-width: 400px;
      }
    }
    &__content {
      margin-top: 30px;
      width: 100%;
      max-width: none;
    }
    &__text {
      margin-bottom: 30px;
    }
  }
}
@media screen and ( max-width: 576px ) {
  .explore {
    &__image {
      &-wrap {
        width: 95%;
        max-width: 300px;
        height: 300px;
      }
    }
  }
}