.feature {
  padding: 140px 0;
  background: url("../img/bg-line.png") no-repeat;
  background-position: top -50px right 60px;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    &-wrap {
      margin-top: -50px;
      width: 600px;
      height: 600px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      max-width: 500px;
    }
  }
  &__slider {
    margin: 0;
    width: 100%;
    height: 480px;
    .swiper-button-next::after {
      display: none;
      content: '';
    }
    &-button {
      width: 64px;
      height: 64px;
      border: none;
      border-radius: 50%;
      background: url("../img/icons/Arrow-down.svg") no-repeat center;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    &__info {
      width: 75%;
      max-width: 278px;
    }
    &__icon {
      margin: 0;
      padding: 0;
      width: 80px;
      height: 80px;
      border: none;
      border-radius: 50%;
      background-color: #F3FBF8;
      background-position: center center;
      background-repeat: no-repeat;
      &--delivery {
        background-image: url("../img/icons/delivery-man.svg");
      }
      &--shopping {
        background-image: url("../img/icons/shopping.svg");
      }
      &--time {
        background-image: url("../img/icons/fast-time.svg");
      }
    }
    &__title {
      margin: 0 0 8px 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $black;
    }
    &__text {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $dark;
    }
  }
  .swiper-slide-next {
    background-color: $primary;
    .feature-slide__icon {
      background-color: $white;
    }
  }
}
@media screen and ( max-width: 992px ) {
  .feature {
    padding: 100px 0;
    background-position: top -100px right -100px;
    &__image {
      &-wrap {
        margin-top: -50px;
        width: 400px;
        height: 400px;
      }
    }
    &-slide {
      padding: 20px 30px;
      &__icon {
        width: 60px;
        height: 60px;
      }
      &__title {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}
@media screen and ( max-width: 760px ) {
  .feature {
    padding: 50px 0;
    background-position: top -100px right -100px;
    &__slider {
      height: 360px;
    }
    &__image {
      &-wrap {
        display: none;
      }
    }
    &__content {
      padding-top: 30px;
      &-wrap {
        margin: 0 auto;
        width: 80%;
        max-width: 500px;
      }
    }
    &-slide {
      padding: 30px 50px;
      &__text {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
@media screen and ( max-width: 576px ) {
  .feature {
    &__content {
      &-wrap {
        width: 100%;
      }
    }
    &-slide {
      padding: 20px;
      &__text {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}