.footer {
  padding: 67px 0 118px;
  background-color: #FCFEFD;
  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &-column {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 60%;
      max-width: 740px;
    }
  }
  &__logo-wrap {
    margin-bottom: 30px;
    width: 70px;
    height: 70px;
  }
  &__column {
    &--logo {
      margin-right: 15px;
      width: 345px;
    }
  }
  &__subtitle {
    margin: 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: $black;
  }
  &-menu {
    display: flex;
    flex-direction: column;
    &__item {
      margin: 0 0 25px 0;
      &:last-child {
        margin: 0;
      }
      &--link {
        margin: 0;
        color: $dark;
      }
    }
  }
  &__social-row {
    display: flex;
    justify-content: space-between;
    width: 172px;
  }
}
@media screen and ( max-width: 992px ) {
  .footer {
    &__row {
      &-column {
        width: 60%;
      }
    }
    &__column--logo {
      margin-right: 0;
      width: 35%;
      max-width: 300px;
    }
    &__logo-wrap {
      margin-bottom: 20px;
      width: 60px;
      height: 60px;
    }
    &__subtitle {
      margin: 40px 0 25px 0;
      font-size: 20px;
      line-height: 24px;
    }
    &-menu {
      display: flex;
      flex-direction: column;
      &__item {
        margin: 0 0 15px 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
@media screen and ( max-width: 760px ) {
  .footer {
    padding: 25px 0 50px;
    &__row {
      flex-direction: column-reverse;
      &-column {
        width: 100%;
      }
    }
    &__column--logo {
      width: 100%;
      max-width: none;
    }
    &__logo-wrap {
      margin: 20px auto;
      width: 50px;
      height: 50px;
    }
    &-navigation {
      text-align: left;
    }
    &__subtitle {
      margin: 25px 0 15px 0;
      font-size: 18px;
      line-height: 20px;
    }
    &-text {
      max-width: none;
      text-align: center;
    }
    &-menu {
      display: flex;
      flex-direction: column;
      &__item {
        margin: 0 0 10px 0;
        padding: 0;
        &:last-child {
          margin: 0;
        }
      }
    }
    &__social-row {
      margin-top: 15px;
    }
  }
}
@media screen and ( max-width: 576px ) {
  .footer {
    &__column {
      width: 35%;
      &:last-child {
        width: 80%;
      }
    }
    &__social-row {
      width: 140px;
    }
  }
}