/* settings */
*, *:before, *:after {
  box-sizing: border-box;
}
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}
:root {
  --primary: #FF6464;
  --secondary: #00A8CC;
  --dark: #21243D;
  --light: #8695A4;
  --bg-color: #EDF7FA;
  --black: #000000;
  --white: #ffffff;
}
html {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
.container {
  width: 95%;
  max-width: 1152px;
  margin: auto;
}
.content-wrap {
  width: 95%;
  max-width: 856px;
  margin: auto;
}
.row {
  display: flex;
}
.section__title {
  font-weight: 400;
  font-size: 22px;
  color: var(--dark);
}
.section__link {
  text-decoration: none;
  font-size: 16px;
  color: var(--secondary);
  transition: all 0.3s;
}
.section__link:hover {
  color: var(--dark);
}
.text-hidden {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.text-hidden--2 {
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.text-hidden--3 {
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.text-hidden--4 {
  -ms-line-clamp: 4;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
/* header*/
.header {
  padding: 0 0 140px;
}
.header__row {
  align-items: center;
  justify-content: flex-end;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3.75rem;
  padding: 0;
  width: 240px;
}
.menu__item--link {
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  transition: all 0.3s;
}
.menu__item--link:hover {
  color: var(--dark);
}
/* main */
.main {
  padding-bottom: 71px;
}
.main__row {
  display: flex;
  justify-content: space-between;
}
.main__description {
  width: 60%;
  max-width: 506px;
}
.main__title {
  margin: 15px 0 25px 0;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.75rem;
  color: var(--dark);
}
.main__text {
  margin: 0 0 32px 0;
}
.text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark);
}
.button {
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--primary);
  transition: all 0.3s;
}
.button:hover {
  cursor: pointer;
  background-color: var(--dark);
}
.main__photo-wrap {
  position: relative;
  width: 243px;
  height: 243px;
  border-radius: 50%;
}
.main__photo-wrap::before {
  content: '';
  position: absolute;
  top: 13px;
  left: -5px;
  width: 243px;
  height: 243px;
  background-color: var(--bg-color);
  border-radius: 50%;
  z-index: -1;
}
.main__photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-position: 50% 50%;
  object-fit: cover;
}
/* posts */
.posts__container {
  background-color: var(--bg-color);
}
.posts__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 16px;
}
.card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  padding: 24px;
  width: 49%;
  max-width: 418px;
  color: var(--dark);
  background-color: var(--white);
}
.card__title {
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}
.card__info {
  display: flex;
}
.card__info-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px
}
.card__info-separator {
  padding: 0 26px;
}
.card__content {
  margin: 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* works */
.works {
  padding-top: 30px;
}
.project {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 15px;
}
.project__image-wrap {
  margin-top: 10px;
  max-width: 248px;
  width: 30%;
  height: 180px;
  border-radius: 6px;
}
.project__image {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}
.project__description {
  display: flex;
  flex-direction: column;
  max-width: 594px;
  width: 70%;
}
.project__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: var(--dark);
}
.project__info {
  display: flex;
  margin: 16px 0;
}
.project__info-year {
  margin: 0;
  padding: 0 10px;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
  color: var(--white);
  background-color: #142850;
}
.project__info-tag {
  margin: 0 0 0 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: var(--light);
}
.project__content {
  padding-top: 5px;
}
.line {
  margin: 0;
  color: var(--light);
}
/* footer */
.footer {
  padding: 134px 0 52px;
}
.footer__row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social__links {
  display: flex;
  margin: 0;
  padding: 0;
}
.social__item {
  margin: 0 17px;
  width: 30px;
  height: 30px;
}
.footer__copyright {
  margin: 26px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--dark);
}