@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}
html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
}
body {
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 130px auto;
  width: 90%;
  max-width: 920px;
  background-color: #fff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  background-image: url('../image/img/bg.png');
  background-position:  bottom 90% left;
  background-repeat: no-repeat;
  background-size: 45% auto;
}
.image-wrap {
  position: relative;
  width: 45%;
}
.image {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: contain;
}
.image-2 {
  display: none;
}
.image-wrap::after {
  content: '';
  position: absolute;
  left: -21%;
  top: 35%;
  width: 180px;
  height: 180px;
  background: url('../image/img/box.png') center center no-repeat;
  background-size: contain;
}
.content-wrap {
  margin: 65px 95px 85px 0;
  width: 50%;
  max-width: 350px;
}
.content-title {
  margin: 0 0 43px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1E1F36;
}
.block {
  width: 100%;
}
.block__item {
  margin: 18px 0 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8EA;
}
.block__item:first-child {
  margin: 0;
}
.block__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4C5F;
  background-color: transparent;
  text-align: left;
  transition: all 0.3s;
}
.block__title:hover {
  cursor: pointer;
  color: #F47B56;
}
.block__title._active {
  font-weight: 700;
  color: #1E1F36;
}
.block__title::after {
  content: url('../image/svg/arrow.svg');
  transition: transform 0.3s ease 0s  ;
}
.block__title._active::after {
  transform: rotate(-180deg);
}
.block__text {
  margin: 11px 0 0;
  width: 100%;
  max-width: 320px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
}
@media screen and ( max-width: 992px ) {
  .container {
    background-position: bottom 50% left -40px;
    background-size: 40% 100%;
  }
  .image-wrap {
    width: 35%;
  }
  .image-wrap::after {
    left: -18%;
    width: 120px;
    height: 120px;
  }
}
@media screen and ( max-width: 760px ) {
  .container {
    margin: 190px auto 85px;
    flex-direction: column;
    background-image: none;
  }
  .image-wrap {
    margin: -140px 0 0 -35px;
    width: 75%;
    max-width: 350px;
  }
  .image-wrap::after {
    display: none;
  }
  .image-1 {
    display: none;
  }
  .image-2 {
    display: block;
  }
  .content-wrap {
    margin: 23px auto 48px auto;
    width: 90%;
    max-width: 350px;
  }
  .content-title {
    text-align: center;
  }
}
@media screen and ( max-width: 576px ) {
  .container {
    margin: 148px auto 85px;
  }
  .image-wrap {
    margin: -110px 0 0 -35px;
    width: 280px;
  }
}