*, *:before, *:after {
  box-sizing: border-box;
}
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}
a {
  text-decoration: none;
}
html {
  font-family: 'DMSans', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
li {
  list-style: none;
}
.container {
  width: 95%;
  max-width: 1240px;
  margin: auto;
}
.row {
  display: flex;
}
.section-title {
  margin: 0 auto 20px auto;
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
}
.text {
  margin: 0;
  width: 100%;
  max-width: 637px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $dark;
}
.button {
  &:hover {
    cursor: pointer;
  }
}
.round-button {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
  }
}
.link-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 176px;
  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: $dark;
  }
  &__arrow {
    width: 60%;
    max-width: 64px;
    height: 64px;
    border: 2px solid $main-green;
    border-radius: 50%;
    background-color: $main-green;
    background-image: url('../img/icons/Arrow-right.svg');
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      border: 2px solid $main-green;
      background-color: $primary;
      background-image: url('../img/icons/Arrow-right-1.svg');
    }
  }
}
.parallax {
  position: absolute;
  &-1 {
    top: -15px;
    left: 20px;
  }
  &-2 {
    top: 55%;
    left: 70%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    &-wrap {
      width: 500px;
      height: 500%;
    }
  }
}
@media screen and ( max-width: 992px ) {
  .section-title {
    font-size: 56px;
    line-height: 70px;
  }
  .text {
    font-size: 16px;
    line-height: 24px;
  }
  .link-block {
    width: 140px;
    &__arrow {
      width: 60%;
      max-width: 40px;
      height: 40px;
    }
  }
  .parallax {
    &-1 {
      top: -15px;
      left: 20px;
    }
    &__image {
      &-wrap {
        width: 350px;
        height: 350%;
      }
    }
  }
}
@media screen and ( max-width: 760px ) {
  .round-button {
    width: 35px;
    height: 35px;
  }
  .section-title {
    font-size: 36px;
    line-height: 40px;
  }
  .text {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  .parallax {
    &-1 {
      top: -15px;
      left: 20px;
    }
    &-2 {
      top: 70%;
      left: 60%;
    }
    &__image {
      &-wrap {
        width: 250px;
        height: 250px;
      }
    }
  }
}
@media screen and ( max-width: 576px ) {
  .parallax {
    &-1 {
      top: 25%;
      left: -30px;
    }
    &-2 {
      top: 75%;
      left: 50%;
    }
    &__image {
      &-wrap {
        width: 200px;
        height: 200%;
      }
    }
  }
}